.body {
  width: 100%;
  height: 100%;
  width: 500px;
  height: 500px;
  background-color: aliceblue;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.input {
  transform: translateY(-200%);
}

.input_active {
  position: relative;
  transform: translateY(0);
  left: 0;
  margin: 100px;
  width: 75%;
  height: 65%;
  background-color: rgb(139, 139, 139);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.content__p_active{
  transform: translateY(0);
  padding: 100px;
  color:rgb(0, 0, 0);
  font-size: 1rem;
  cursor: pointer;
}

.content__p{
  transform: translateY(-200%);
}

.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}